{% trans_default_domain 'form' %}

{% extends 'AppBundle::base.html.twig' %}

{% block content %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    {% include 'AppBundle:Company/Form:create_edit.html.twig' %}
{% endblock content %}
