{% trans_default_domain 'form' %}

<html>
    <body>
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        {% include 'AppBundle:Company/Form:create_edit.html.twig' %}
    </body>
</html>
