{% extends 'AppBundle::base.html.twig' %}

{% block content %}
    <div>
        <h1>{{ search.name }}</h1>
    </div>
    {{ dump(companies) }}
    {#{% for company in companies %}#}
        {#<div>#}
            {#<h1>{{ detail. }}</h1>#}
        {#</div>#}
    {#{% endfor %}#}
{% endblock content %}
